{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Dispositivo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'listar_dispositivos' %}">Dispositivos</a>
      <a class="nav-item nav-link" href="{% url 'listar_dispositivos_emprestados_colaborador' %}">Seus Dispositivos</a>
      <a class="nav-item nav-link" href="{% url 'listar_dispositivos_emprestados' %}">Dispositivos Emprestados</a>
          {% if colaborador_logado.admin %}
      <a class="nav-item nav-link" href="{% url 'cadastrar_dispositivo' %}">Cadastrar novo dispositivo</a>
        {% endif %}
      <a class="nav-item nav-link" href="{% url 'logout' %}">Sair</a>

    </div>
      </div>
    </nav>

<br><br>
<div class="container">

    <form method="post" action="{% url 'cadastrar_dispositivo' %}" class="col-5">
        {% csrf_token %}

         <div class="form-group">
            <label for="id0">Sistema Operacional:</label>
            {% render_field form.sistema_operacional class="form-control" %}
        </div>

        <div class="form-group">
            <label for="id1">Nome:</label>
            {% render_field form.nome class="form-control" %}
        </div>

        <div class="form-group">
            <label for="id2">Descrição:</label>
            {% render_field form.descricao class="form-control" %}
        </div>

        <div class="form-group">
            <label for="id3">Numero do Modelo:</label>
            {% render_field form.numeromodelo class="form-control" %}
        </div>

        <div class="form-group">
            <label for="id4">Versão:</label>
            {% render_field form.versao class="form-control" %}
        </div>

        <input class="btn btn-primary" type="submit" value="Enviar"/>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>