{% extends 'base.html' %}

{% block title %}Lista de Dispositivos Emprestados{% endblock %}

{% block active_listar_dispositivos_emprestado_colaborador %}active{% endblock %}

{% block body %}


    <br><br>
    <div class="container">

    <h4> Dispositivos emprestados</h4>

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th width="10%" scope="col" class="align-middle">Nome</th>
              <th width="15%" scope="col" class="align-middle">Descrição</th>
              <th width="10%" scope="col" class="align-middle">Numero do Modelo</th>
              <th width="5%" scope="col" class="align-middle">SO</th>
              <th width="10%" scope="col" class="align-middle">Versão</th>
              <th width="20%" scope="col" class="align-middle">Ações</th>

            </tr>
          </thead>
          <tbody>
            {% for vinculo in vinculos %}
                <tr>
                  <th scope="row" class="align-middle" >{{ vinculo.dispositivo.nome }}</th>
                  <td  class="align-middle">{{ vinculo.dispositivo.descricao }}</td>
                  <td  class="align-middle">{{ vinculo.dispositivo.numeromodelo }}</td>
                  <td  class="align-middle">{{ vinculo.dispositivo.os }}</td>
                  <td  class="align-middle">{{ vinculo.dispositivo.versao }}</td>


                <td  class="align-middle">

                    <!-- Button trigger modal DEVOLVER -->
                    <a class="btn btn-sm btn-success text-light" data-toggle="modal" data-target="#devolver{{ vinculo.id }}"> devolver </a>

                    <!-- Modal DEVOLVER -->
                    <div class="modal fade" id="devolver{{ vinculo.id }}" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="confirmasequerdevolver">Deseja realmente devolver esse dispositivo?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <b>Antes de devolver lembre-se:</b> <br>
                              - Sair da sua conta no app Mercos.<br>
                              - Tirar o app do modo Sandbox.<br>
                              - Coloque o dispositivo para carregar.<br>
                          </div>

                          <div class="modal-footer">
                              <a class="btn btn-sm btn-secondary text-light" data-dismiss="modal">Fechar</a>
                              <a class="btn btn-sm btn-success text-light" href="{% url 'devolver_dispositivo' vinculo.id %}">Devolver</a>
                          </div>
                        </div>
                      </div>
                    </div>


                </td>


                </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>

{% endblock %}
