{% extends 'base.html' %}

{% block title %}Lista de Dispositivos Disponiveis{% endblock %}

{% block active_listar_dispositivos %}active{% endblock %}


{% block body %}

    <br><br>
    <div class="container">

    <h4> Dispositivos disponíveis</h4>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="10%" scope="col" class="align-middle">Nome</th>
              <th width="15%" scope="col" class="align-middle">Descrição</th>
              <th width="10%" scope="col" class="align-middle">Numero do Modelo</th>
              <th width="10%" scope="col" class="align-middle">SO</th>
              <th width="7%" scope="col" class="align-middle">Versão</th>
              <th width="20%" scope="col" class="align-middle">Ações</th>

            </tr>
          </thead>
          <tbody>
            {% for dispositivo in dispositivos %}
                {% if dispositivo.disponivel %}
                <tr>
                  <td scope="row"  class="align-middle" >{{ dispositivo.nome }}</td>
                  <td  class="align-middle">{{ dispositivo.descricao }}</td>
                  <td  class="align-middle">{{ dispositivo.numeromodelo }}</td>
                  <td  class="align-middle" style="text-transform: lowercase">{{ dispositivo.os }}</td>
                  <td  class="align-middle">{{ dispositivo.versao }}</td>


                <td  class="align-middle">

                    {% if colaborador_logado.admin %}

                    <a class="btn btn-sm btn-teste" href="{% url 'alterar_dispositivo' dispositivo.id %}">alterar</a>
                    <!-- Button trigger modal EXCLUIR -->
                    <a class="btn btn-sm btn-teste" data-toggle="modal" data-target="#excluir"> excluir </a>

                     {% endif %}

                     <!-- Button trigger modal EMPRESTAR -->
                    <a class="btn btn-sm btn-teste" data-toggle="modal" data-target="#emprestar{{ dispositivo.id }}"> emprestar </a>

                    <!-- Modal EXCLUIR -->
                    <div class="modal fade" id="excluir" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="confirmasequerexcluir">Deseja realmente excluir?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                Você está prestes a excluir um dispostivo! <br> Essa ação não poderá ser desfeita.
                              </div>
                              <div class="modal-footer">
                                  <a class="btn btn-sm btn-teste" data-dismiss="modal">Fechar</a>
                                  <a class="btn btn-sm btn-teste" href="{% url 'excluir_dispositivo' dispositivo.id %}">Excluir</a>
                              </div>
                            </div>
                          </div>
                    </div>

                    <!-- Modal EMPRESTAR -->
                    <div class="modal fade" id="emprestar{{ dispositivo.id }}" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="confirmasequeremprestar">Deseja emprestar esse dispositivo?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                Esse dispositivo ficará em seu nome até que você clique em Devolver. <br>
                              </div>
                              <div class="modal-footer">
                                  <a class="btn btn-sm btn-teste" data-dismiss="modal">Fechar</a>
                                  <a class="btn btn-sm btn-teste" href="{% url 'emprestar_dispositivo' dispositivo.id %}">Emprestar </a>
                              </div>
                            </div>
                          </div>
                    </div>

                </td>

                </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
    <br><br>
    </div>

{% endblock %}