{% extends 'base.html' %}

{% block title %} Lista de Dispositivos Emprestados {% endblock %}

{% block active_listar_dispositivos_emprestados %}active{% endblock %}

{% block body %}

    <br><br>
    <div class="container">

    <h4> Dispositivos emprestados</h4>

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th width="10%" scope="col" class="align-middle">Data Empréstimo</th>
              <th width="10%" scope="col" class="align-middle">Nome</th>
              <th width="15%" scope="col" class="align-middle">Descrição</th>
              <th width="10%" scope="col" class="align-middle">Numero do Modelo</th>
              <th width="5%" scope="col" class="align-middle">SO</th>
              <th width="10%" scope="col" class="align-middle">Versão</th>
              <th width="20%" scope="col" class="align-middle">Colaborador c/ Dispositivo</th>

            </tr>
          </thead>
          <tbody>
            {% for vinculo in vinculos %}

                <tr>
                  <th scope="row" class="align-middle">{{ vinculo.data_de_emprestimo }}</th>
                  <td  class="align-middle">{{ vinculo.dispositivo.nome }}</td>
                  <td  class="align-middle">{{ vinculo.dispositivo.descricao }}</td>
                  <td  class="align-middle">{{ vinculo.dispositivo.numeromodelo }}</td>
                  <td  class="align-middle">{{ vinculo.dispositivo.os }}</td>
                  <td  class="align-middle">{{ vinculo.dispositivo.versao }}</td>
                  <td  class="align-middle">{{ vinculo.colaborador.nome }}</td>

            {% endfor %}
        </table>

    </div>

{% endblock %}