
<html>

    <head>
        <title> Login </title>
        <link href=“https://fonts.googleapis.com/css?family=Montserrat” rel=“stylesheet”>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>

            .btn-login {
                font-size: 16px;
                background-color: #f3f3f3;
                border: 1px solid #f3f3f3;
                cursor: pointer;
                margin: 0 3px;
            }

            .form-style {
                background-color: #fff;
                border-radius: 4px;
                margin-top: 50px;
            }
        </style>

    </head>

    <body>

    <h1 class="text-center" style="margin-top: 50px;"> Acessar o sistema</h1>


    <form class="form-style" method="post" action="{% url 'login' %}">

        {% csrf_token %}

        <div class="mx-auto" style="width: 350px;">

            <div class="form-group">
               <label for="id0">Email</label>
               <input type="email" class="form-control" id="id0" name="email">
               <small id="xxx" class="form-text text-muted">Seu e-mail de acesso.</small>
            </div>

            <div class="form-group">
                <label for="id1">Senha</label>
                <input type="password" class="form-control" id="id1" name="password">
            </div>

            <input class="btn btn-login btn-lg btn-block" type="submit" value="Entrar"/>
            <div class="my-1">
                 <a class="btn btn-login btn-lg btn-block" href="{% url 'cadastrar_colaborador' %}">Cadastre-se</a>
            </div>

        </div>
    </form>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>