<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- metatags_title_e_favicon -->
    {% include 'template_mp/metatags_title_e_favicon.html' %}
    <!-- end metatags_title_e_favicon -->

    <script>
        var doc = document.documentElement;
        doc.setAttribute('data-useragent', navigator.userAgent);
    </script>

    <!-- fonts_e_css_global -->
    {% include 'template_mp/fonts_e_css_global.html' %}
    <!-- end fonts_e_css_global -->

    <!-- block css -->
    {% block css %}
    {% endblock %}
    <!-- endblock css -->

    <!-- javascript_e_css_especifico -->
    {% include 'template_mp/javascript_e_css_especifico.html' %}
    <!-- end javascript_e_css_especifico -->

    {% block head_js %}
    {% endblock %}
</head>

<body>
    <div id="js-div-global" class="app-mercos">

        {% include "layout_bootstrap/menus/botao-menu-hamburguer.html" %}

        <nav class="menu-lateral effect-1">
            <ul>
                <li class="profile-do-usuario">
                    {% if colaborador_logado.foto %}
                        <div class="foto-pequena-do-usuario" style="background: url('{{ colaborador_logado.foto.url }}') center center; background-size: cover;"></div>
                    {% else %}
                        <div class="foto-pequena-do-usuario">
                            {{ colaborador_logado.nome|avatar:"pequeno"|safe }}
                        </div>
                    {% endif %}
                    <span class="nome-do-usuario">{{ colaborador_logado.nome|formatar_nome:1 }}</span>
                </li>

                {% if empresa_logada.empresa_admin %}
                    <li class="{% block class_aba_administracao %}{% endblock %}">
                        <a href="{% url 'administracao' empresa_logada.slug %}">
                            <i class="material-icons md-21 simplest_tooltip" data-placement="right" data-original-title="admin">settings_applications</i>
                            <span class="text">Admin</span>
                        </a>
                    </li>
                {% endif %}

                <li class="{% block class_aba_visao_geral %}{% endblock %}">
                    <a href="{% url 'indicadores' empresa_logada.slug %}">
                        <i class="material-icons md-21 simplest_tooltip" data-placement="right" data-original-title="indicadores">&#xE6E1;</i>
                        <span class="text">
                            Indicadores
                        </span>
                    </a>
                </li>

                <li class="{% block class_aba_pedidos %}{% endblock %}">
                    <a id="aba_pedidos" href="{% url 'listar_pedidos' empresa_logada.slug %}">
                        <i class="material-icons md-21 simplest_tooltip" data-placement="right" data-original-title="pedidos">description</i>
                        <span class="text">
                            Pedidos
                        </span>
                    </a>
                </li>

                <li class="{% block class_aba_clientes %}{% endblock %}">
                    <a id="aba_clientes" href="{% url 'listar_clientes' empresa_logada.slug %}">
                        <i class="material-icons md-21 simplest_tooltip" data-placement="right" data-original-title="clientes">&#xE8D1;</i>
                        <span class="text">
                            Clientes
                        </span>
                    </a>
                </li>

                {% if empresa_logada.is_industria %}
                    <li class="{% block class_aba_produtos %}{% endblock %}">
                        <a id="aba_representadas" href="{% url 'listar_produtos' empresa_logada.slug %}">
                            <i class="material-icons md-21 simplest_tooltip" data-placement="right" data-original-title="produtos">&#xE0E0;</i>
                            <span class="text">
                                Produtos
                            </span>
                        </a>
                    </li>
                {% else %}
                    <li class="{% block class_aba_representadas %}{% endblock %}">
                        <a id="aba_representadas" href="{% url 'listar_representadas' empresa_logada.slug %}">
                            <i class="material-icons md-21 simplest_tooltip" data-placement="right" data-original-title="produtos">&#xE0AF;</i>
                            <span class="text">
                                Representadas
                            </span>
                        </a>
                    </li>
                {% endif %}

                <li class="{% block class_aba_agenda %}{% endblock %}">
                    <a id="aba_agenda" href="{% url 'listar_agenda' empresa_logada.slug %}">
                        <i class="material-icons md-21 simplest_tooltip" data-placement="right" data-original-title="agenda">&#xE614;</i>
                        <span class="text">
                            Agenda
                            {% block badge_agenda %}
                                {% if atividades_atrasadas_agenda %}
                                <span class="badge_agenda">
                                    {% if atividades_atrasadas_agenda > 9 %}
                                        9+
                                    {% else %}
                                        {{ atividades_atrasadas_agenda }}
                                    {% endif %}
                                {% endif %}
                                </span>
                            {% endblock %}
                        </span>
                    </a>
                </li>

                <li class="{% block class_aba_minha_conta %}{% endblock %} bottom-fixed">
                    {% if colaborador_logado.administrador and not possui_b2b_ativo %}
                        <div class="menu-novo-banner-b2b somente-desktop" onclick="(function() { window.location.replace('/{{ empresa_logada.slug }}/configuracoes_ecommerce_b2b/') })()">
                            <div class="menu-novo-container-banner-b2b">
                                <div class="menu-novo-banner-b2b-container-icone">
                                    <i class="material-icons menu-novo-banner-b2b-icone simplest_tooltip" data-placement="right" data-original-title="b2b">shopping_cart</i>
                                </div>
                                <div class="menu-novo-banner-b2b-container-texto">
                                    e-commerce<br /><span class="menu-novo-banner-b2b-texto-negrito">B2B</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <a id="aba_minha_conta" href="{% url 'listar_colaboradores' empresa_logada.slug %}">
                        <i class="material-icons md-21 icone-animado simplest_tooltip" data-placement="right" data-original-title="minha conta">settings</i>
                        <span class="text">
                            Minha conta
                        </span>
                    </a>

                    {% if colaborador_logado.administrador and not possui_b2b_ativo %}
                        <div class="menu-novo-banner-b2b somente-mobile" onclick="(function() { window.location.replace('/{{ empresa_logada.slug }}/configuracoes_ecommerce_b2b/') })()">
                            <div class="menu-novo-container-banner-b2b">
                                <div class="menu-novo-banner-b2b-container-icone">
                                    <i class="material-icons menu-novo-banner-b2b-icone simplest_tooltip" data-placement="right" data-original-title="b2b">shopping_cart</i>
                                </div>
                                <div class="menu-novo-banner-b2b-container-texto">
                                    e-commerce<br /><span class="menu-novo-banner-b2b-texto-negrito">B2B</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </li>

                <li class="somente-mobile" style="border-top: 1px solid #FAFAFA;">
                    <a href="http://ajuda.mercos.com/" target="_blank" style="text-transform: none; font-size: 12px; font-weight: normal">
                        Ajuda
                    </a>
                </li>

                <li class="somente-mobile" style="border-top: 1px solid #FAFAFA;">
                    <a href="{% url 'logout' empresa_logada.slug %}" style="text-transform: none; font-size: 12px; font-weight: normal">
                        Sair
                    </a>
                </li>
            </ul>
        </nav>

        <div class="overlay">
            <div id="react-portal-root"></div>

            {% include "layout_bootstrap/menus/menu_topo.html" %}

            <section class="conteudo-principal">

                {% include "layout_bootstrap/mensagem_bloqueio_topo.html" %}

                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            {% block conteudo %}
                            {% endblock %}
                        </div>
                    </div>
                </div>

                {% if aviso_reativacao %}
                    <script type="text/javascript">
                        mostrar_aviso_reativacao();
                    </script>
                {% endif %}

                {% include "layout_bootstrap/menus/rodape.html" %}
            </section>

        </div>

        {% include "layout_bootstrap/menus/modal_multicontas.html" %}
    </div>

    <!-- javascript_global -->
    {% include 'template_mp/javascript_global.html' %}
    <!-- end javascript_global -->

    <!-- javascript_do_menu_topo -->
    {% include 'template_mp/javascript_do_menu_topo.html' %}
    <!-- end javascript_do_menu_topo -->

    <!-- block js -->
    {% block js %}
    {% endblock %}
    <!-- endblock js -->

    <!-- metricas_e_apps_de_terceiros -->
    {% include 'template_mp/metricas_e_apps_de_terceiros.html' %}
    <!-- end metricas_e_apps_de_terceiros -->
</body>
</html>